@import 'mixins';

// FONTS
@import url('https://use.typekit.net/bsu3kxu.css');

@include font-face('insignia', '../fonts/InsigniaLTStd');
@include font-face('joanna-reg', '../fonts/JoannaMTStd');
@include font-face('joanna-italic', '../fonts/JoannaMTStd-Italic');
@include font-face('joanna-bold', '../fonts/JoannaMTStd-Bold');
@include font-face('joanna-bolditalic', '../fonts/JoannaMTStd-SemiBoldItalic');

$base-font-size:   17px;
$line-height:      1.3em;
$heading-scale:    4;

$regular:          'joanna-reg';
$bold:             'joanna-bold';
$bold-italic:      'joanna-bolditalic';
$italic:           'joanna-italic';

// COLORS
$dkbrown:          #4d361f;
$ltbrown:          #8F764D;
$white:            #fff;
$gold:             #ffdf4f;
$orange:           #c57145;
$dkorange:         #7b341a;
$black:            #000;
$dkgray:           tint($black,20);
$ltgray:           tint($black,80);

.white-txt  { color: $white; }
.orange-txt { color: $orange; }

@supports (-webkit-text-stroke: 1px black){
  .outline {
    color: $white;
    -webkit-text-fill-color: $orange;
    -webkit-text-stroke: 1px $white;
  }
}

.white-bg  { background: $white; }
.red-bg    { background: $dkorange; color: $white; }
.orange-bg { background: $orange; color: $white; }

// BUTTONS
.btn { border-radius: 0; border: none; box-shadow: none; font-family: 'mr-eaves-xl-modern', sans-serif; font-weight: 700; font-style: normal; text-transform: uppercase; transition: all 666ms ease-in-out; font-display: fallback;
  &.orange-btn { background: $orange; color: $white;
    &:hover    { background: shade($orange,20); }
  }
	&.outline-btn { border: 1px solid $white; color: $white; padding: 8px 25px; }
}


// BASE STYLES
body { font-family: $regular, serif; font-size: $base-font-size; line-height: $line-height; color: $dkgray;
  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-display: fallback;
  @include headings($base-font-size, $heading-scale);

  @for $i from 1 through 6 {
    h#{$i} {
      font-family: $bold;
      color: $dkbrown;
			font-display: fallback;
      em { font-family: $bold-italic; font-display: fallback; }
    }
  }
  strong { font-family: $bold; font-display: fallback;
    em { font-family: $bold-italic; font-weight: normal; font-display: fallback; }
  }
  em { font-family: $italic; font-size: 1.1em; font-display: fallback; }
  p  { margin: 0 0 1.3em; }
  a  { transition: all 666ms ease;
    &:hover { text-decoration: none; }
  }

  img.aligncenter, .aligncenter  { margin: 0 auto; float: none; }
  img.alignleft, .alignleft      { float: left; margin: 0 1rem 1rem 0; }
  img.alignright, .alignright    { float: right; margin: 0 0 1rem 1rem; }

  button.btn { transition: all 666ms ease-in-out; }

  .outline-btn { border: 1px solid $ltgray; padding: 6px 20px 4px; text-align: center; text-transform: uppercase; border-radius: 4px; color: tint($black, 50);
    &:hover { color: $white; background: $ltbrown; border-color: $ltbrown; }
  }
}
